body {
  background-color: #5697ff;
}

header {
  background-color: #ff7300;
}

footer {
  background-color: #5697ff;
}

dropbtn {
    background-color: #4CAF50;
    color: #5697ff;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
