* {
  font-family: VT323, monospace;
}

body {
  padding-bottom: 5em;
  background-color: #5697ff;
}

.heading {
  background-color: #ff7300;
}

footer {
  background-color: #5697ff;
}

.doggo {
  background-color: #ff7300
  border: 3px groove #FFF;
  border-radius: 10px
}
