h1, h3 {
    font-family: "Georgia", Times New Roman, Serif;
    color: rgb(2, 2, 249);
p {
    font-family: "Times New Roman", Georgia, Serif;
    color: rgb(0, 0, 0);
}
body {
    background-image: url("https://firelevelone.github.io/angerydoggo-project/Market%20Revolution%20US%20History/background.png");
}
